.git/
.gitignore
node_modules/
*.log
.env
.env.*
.vscode/
.idea/
*.test.js
*.spec.js
coverage/
.editorconfig
.eslintrc*
.prettierrc*
.travis.yml
.github/
.husky/
.lintstagedrc.json
babel.config.cjs
jest.config.cjs
eslint.config.js
